.App{
  height: 100vh;
  background-image: linear-gradient(#00aaffb3 0%, #ff002bb3 50%, #ffffff 100%);
  
}

.firstContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.functionalBtn{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 350px;
  background-color: #6cf;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
.classBasedBtn{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 350px;
  background-color: #6cf;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.secondContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.functionalComponent{
  border: 2px solid black;
  border-radius: 40px;
  height: 300px;
  width: 400px;
  text-align: center;
  background-color: cyan;
}

.classBased{
  border: 2px solid black;
  border-radius: 40px;
  height: 300px;
  width: 400px;
  text-align: center;
  background-color:darkviolet;
}


.header{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 3px 3px 0px #0ff;
}

.functionalExternalCss{
  color: darkred;
}

.classBasedExternalCss{
  color:blue;
}


@media screen and (min-width:240px) and (max-width:500px){

  .functionalBtn{
    height: 50px;
    width: 300px;
  }
  .classBasedBtn{
    height: 50px;
    width: 300px;
    margin-top: 20px;
  }

  .firstContainer{
    flex-direction: column;
  }
  .secondContainer{
    flex-direction: column;
  }

  .functionalComponent{
    height: 200px;
    width: 300px;
  }

  .classBased{
    height: 200px;
    width: 300px;
    margin-top: 20px;
  }

}